<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}
    <link rel="stylesheet" href="/assets/style.css" | relative_url> 

    <body>

        {%- include header.html -%}

        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
                {% if page.comments %}
                {% include disqus.html %}
                {% endif %}
            </div>
        </main>

        {%- include footer.html -%}

    </body>

</html>
